.adminSidebar {
  box-shadow: 0px 0px 10px 2px rgba(173, 216, 230, 0.425);
  
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: 100vh;

}


@media screen and (max-width:768px) {
  .main__body{
    margin-left: 0px;
  }
}
